{
  "presets":[
    "stage-2",
    "react"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "presets": [["es2015"], "react"]
    },
    "es2015": {
      "modules" : "es"
    }
  }
}
