@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #fafafa;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
body{
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
input {
  font-family: 'Source Sans Pro', sans-serif;
}
.TimeInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.TimeInput-input {
  padding: 6px 4px;
  border-radius: 2px;
  border: 1px solid #ddd;
  font-size: 1.2em;
}
